<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>View</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <script th:href="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:href="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

    <!--for static use without spring boot app running-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #C6D9F1">

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <!--recipe panels start-->
            <div class="panel panel-primary" style="margin-top: 20px">
                <div class="panel-heading" style="font-size: large;">
                    Recipe Info
                </div>
                <div class="panel-body">
                    <h1 th:text="${recipe.id}"></h1>
                </div>
            </div>
            <div class="panel panel-primary" style="margin-top: 20px">
                <div class="panel-heading" style="font-size: large;">
                    Ingredients
                </div>
                <div class="panel-body">

                </div>
            </div>
            <div class="panel panel-primary" style="margin-top: 20px">
                <div class="panel-heading" style="font-size: large;">
                    Directions
                </div>
                <div class="panel-body">

                </div>
            </div>
            <div class="panel panel-primary" style="margin-top: 20px">
                <div class="panel-heading" style="font-size: large;">
                    Notes
                </div>
                <div class="panel-body">

                </div>
            </div>
            <!--recipe panels end-->


        </div>
    </div>

</div>
</body>
</html>