<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Ingredients Details</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <script th:href="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:href="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

    <!--for static use without spring boot app running-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</head>
<body style="background-color: #C6D9F1">

<div class="container-fluid">
    <div class="panel panel-primary" style="margin-top: 20px">
        <div class="panel-heading" style="font-size: large;">
            Ingredients
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Ingredient</th>
                    <th>View</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>


                <!--/*@thymesVar id="ingredients" type="java.util.Set"*/-->
                <tr th:each="ingredient : ${ingredients}">
                    <!--/*@thymesVar id="ingredient" type="qwe.asd.recipe.commands.IngredientCommand"*/-->
                    <td th:text="${ingredient.id}"></td>
                    <td th:text="${(ingredient.amount+''+ingredient.unitOfMeasureCommand.uom+' '+ingredient.description)}"></td>
                    <td><a th:href="@{'/ingredient/'+${ingredient.id}}">View</a> </td>
                    <td><a th:href="@{'/ingredient/'+${ingredient.id}+'/update'}">Update</a> </td>
                    <td><a th:href="@{'/ingredient/'+${ingredient.id}+'/delete'}">Delete</a> </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



</body>
</html>