<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Detail</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <script th:href="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:href="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

    <!--for static use without spring boot app running-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #C6D9F1">

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <!--recipe panels start-->
            <!--/*@thymesVar id="recipe" type="qwe.asd.recipe.commands.RecipeCommand"*/-->
            <div class="panel panel-primary" style="margin-top: 20px">
                <div class="panel-heading" style="font-size: large;">
                    Recipe Info
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <b>Name : </b>
                            <p th:text="${(recipe.getDescription())}"></p>
                        </div>
                        <div class="col-md-6">
                            <b>Categories : </b>
                            <ul>
                                <li th:each="category : ${recipe.getCategories()}" th:text="${category.getDescription()}"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <b>Prep Time :</b>
                            <p th:text="${recipe.getPrepTime()}"></p>
                        </div>
                        <div class="col-md-6">
                            <b>Cook Time :</b>
                            <p th:text="${recipe.getCookTime()}"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <b>Source :</b>
                            <p th:text="${recipe.getSource()}"></p>
                        </div>
                        <div class="col-md-6">
                            <b>Url :</b>
                            <p th:text="${recipe.getUrl()}"></p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel panel-primary" style="margin-top: 20px">
                <div class="panel-heading" style="font-size: large;">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-11">
                                Ingredients
                            </div>
                            <div class="col-md-1">
                                <a class="btn btn-default" th:href="@{'/recipe/'+${recipe.id}+'/ingredients'}" role="button">View</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <ul>
                        <li th:each="ingredient : ${recipe.getIngredients()}"
                            th:text="${ingredient.getAmount() +
                                  ' ' + ingredient.getUnitOfMeasureCommand().getUom() +
                                  ' - ' + ingredient.getDescription()}"></li>
                    </ul>
                </div>
            </div>


            <div class="panel panel-primary" style="margin-top: 20px">
                <div class="panel-heading" style="font-size: large;">
                    Directions
                </div>
                <div class="panel-body">
                    <p th:text="${recipe.getDirections()}"></p>
                </div>
            </div>


            <div class="panel panel-primary" style="margin-top: 20px">
                <div class="panel-heading" style="font-size: large;">
                    Notes
                </div>
                <div class="panel-body">
                    <p th:text="${recipe.getNoteCommand().getRecipeNotes()}"></p>
                </div>
            </div>
            <!--recipe panels end-->


        </div>
    </div>

</div>
</body>
</html>